

  <section class="section-heading-section">
    <div class="heading">
      <h2>Budget Calculator</h2>
    </div>
  </section>

  <section class="total-budget-section">
    <div class="budget">
      <h1 [ngClass]=" totalBudget >= 0 ? 'success' : 'error'">{{ totalBudget }}</h1>
    </div>
  </section>

  <section class="add-item-section">
    <div class="add-item-container">
      <app-add-item-form (formSubmit)="addItem($event)"></app-add-item-form>
    </div>
  </section>

  <app-budget-list [budgetItem]="budgetItem" (deleteItem)="delete($event)" (updatedItem)="amountChanges($event)"></app-budget-list>



